{% extends 'base.html' %}

{% block content %}
<h1>Add a New Donation</h1>
<form class="grid-form" method="POST">
{% csrf_token %}
	<div data-row-span="2">
		<div data-field-span="1">
		<label>{{form.first_name.label}}</label>
		{{form.first_name}}
		</div>
		<div data-field-span="1">
		<label>{{form.last_name.label}}</label>
		{{form.last_name}}
		</div>
	</div>
	<div data-row-span="5">
		<div data-field-span="2"><label>{{form.description.label}}</label>{{form.description}}</div>
		<div data-field-span="2"><label>{{form.donor.label}}</label>{{form.donor}}</div>
		<div data-field-span="1"><label>{{form.amount.label}}</label>{{form.amount}}</div>
	</div>
	<div data-row-span="1">
		<div data-field-span="1"><label>{{form.notes.label}}</label>{{form.notes}}</div>
	</div>
	<div class="text-right">
		<button class="btn btn-primary" type="submit" name="add_another_button" value="Add Another Donation" />Add Another Donation</button>
		<button class="btn btn-primary" type="submit" name="submit_button" value="Submit">Submit</button>
	</div>
</form>
{% endblock %}

<!--
	donation_date = models.DateField('Donation Date')
    first_name = models.CharField(max_length=200)
    last_name = models.CharField(max_length=200)
    description = models.CharField(max_length=200)
    amount = models.CharField(max_length=200)
    donor = models.CharField(max_length=200)
    notes = models.TextField()
-->