Django==1.7.1
dj-database-url==0.3.0
dj-static==0.0.6
django-admin-bootstrapped==2.3.1
django-sslify==0.2.4
django-tastypie==0.12.1
gunicorn==19.1.1
psycopg2==2.5.4
python-dateutil==2.3
python-mimeparse==0.1.4
selenium==2.44.0
six==1.8.0
static3==0.5.1
whitenoise==1.0.6
