{% extends 'base.html' %}

{% block content %}
<h1>Council Donations</h1>
<p>Pursuant to <a href="http://dccode.org/simple/sections/1-329.01">D.C. Official Code § 1-329.01</a>, the Council may accept donations for the Council to "carry out its authorized functions or duties." Under this authority, members of the Council may accept donations for use in their official capacities. This includes, for example, tickets to galas and receptions. It also includes various donations provided by other non-governmental entities (e.g., books).

To comply with D.C. Official Code § 1-329.01, however, which requires the maintenance and disclosure of "accurate and detailed records," for a Councilmember or employee to accept a donation under this authority, the member or employee must do the following:

<ul><li>File a disclosure with the Secretary before the end of the month in which a donation is accepted; and</li>
<li>Include in the disclosure, the name of the donor, the estimated value of the donation.</li></ul>

<p>The records of donations <a href="/donations">are posted here</a>.
{% endblock %}